# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=archive_db

ALEMBIC_DATABASE_URL=postgresql+psycopg2://postgres:postgrespassword@db:5432/archive_db
DATABASE_URL=postgresql+asyncpg://postgres:postgrespassword@db:5432/archive_db
DATABASE_URL_PGBOUNCER=postgresql+asyncpg://postgres:postgrespassword@pgbouncer:5432/archive_db
REDIS_URL=redis://redis:6379/0

# MinIO Credentials
MINIO_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=archives-bucket

# App limits
MAX_UPLOAD_SIZE_MB=50
MAX_EXTRACT_SIZE_MB=200