__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
var/
wheels/
logs/
.venv/
venv/
ENV/

.env

.vscode/

.pytest_cache/
.coverage
htmlcov/
.cache/

.docker/

alembic.log

.DS_Store
Thumbs.db